:root {
    --mobile-phone-menu-wh: 50px;
    --commodity-red-color: #ae0000;
}



.Product-Category-Menu {
    width: 160px;
    background-color: #f1f4f6;
}

.Product-Category-Menu ul>li {
    padding: 16px;
}

.Product-Category-Menu a {
    font-size: 14px;
    font-weight: 600;
    color: rgb(33, 43, 54);
}

.Product-Category-Menu ul>li.now-category {
    background-color: #fff;
}

.Product-Category-Menu ul>li.now-category a {
    color: rgb(52, 106, 255);
}


@media all and (max-width: 768px) {
    .Product-Category-Menu {
        width: 0;
        opacity: 0;
    }

}

@media all and (max-width: 500px) {

}

.user-data-control ul>li {
    padding-left: 10px;
    display: inline-block;
}

.user-data-control ul>li>p>a {
    color: rgb(52, 106, 255);
    font-size: 18px;
    padding-left: 5px;
}

.mobile-shoping-name-container {
    height: 0;
    background-image: url("/img/157-768x100.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-clip: inherit;
    background-size: cover;
}

.user-seller-data {
    height: 0;
}

@media all and (min-width: 769px) {
    .user-seller-data {
        width: 390px;
        height: 135px;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background: no-repeat url("/img/717-390x135.jpg"), #1f3044;
    }
}

@media all and (min-width: 501px) and (max-width: 768px) {
    .mobile-shoping-name-container {
        height: auto;
    }

    .user-selle-avatar {
        margin: 10px 0 10px 26px;
    }
}

@media all and (max-width: 500px) {
    .mobile-shoping-name-container {
        height: auto;
    }

    .user-selle-avatar {
        margin: 10px 0 10px 26px;
    }
}

.user-selle-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    /*background: linear-gradient(45deg, #a6acfd, #d597ff, #5f0052);*/
    background-color: #a6bdd8;
    z-index: 9;
}

.user-selle-avatar-bg {
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    border-radius: 100px;
    box-shadow: 5px -5px 10px 1px rgba(0, 0, 0, 0.6) inset;
    background-color: #666;
    z-index: 10;
}

.user-selle-avatar-bg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-seller-data-name {
    padding: 5px 0 0 15px;
    margin: 10px 0 10px 10px;
    border-radius: 5px;
    background-color: rgba(31, 48, 68, 0.6);
}

.user-seller-data-name>h2 {
    color: #fff;
    font-size: 16px;
}

.user-seller-data-name>h2::after {
    content: " 個人商場";
    font-size: 12px;
}

.user-seller-data-name>p {
    margin-top: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 12px;
}

.user-seller-data-commodity {
    margin-top: 10px;
}

.user-seller-data-commodity-item {
    color: #fff;
    font-size: 12px;
    padding: 6px 6px 0 6px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.user-seller-data-commodity-item:nth-child(3n) {
    border-right: none;
}

.user-seller-data-commodity-item>span {
    display: inline-block;
}

.commodity-container {
    padding: 10px 0 0 10px;
    border-right: 1px solid #dfe3e8;
    border-bottom: 1px solid #dfe3e8;
}

.commodity-container>a>div {
    padding: 8px 16px 0 8px;
}

.commodity-container:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.commodity-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 1;
}

.commodity-title {
    height: 40px;
    margin: 10px 0 10px;
    font-size: 14px;
    color: #666;
}

.commodity-price {}

.commodity-original-price.commodity-original-price {
    font-size: 12px;
    color: #666;
}

.commodity-original-price::before {
    content: "原價 $";
    color: var(--commodity-red-color);
}

.offer.offer {
    color: var(--commodity-red-color);
}

.offer::before {
    content: "現折 $";
}

.offer::after {
    content: "元";
}

.discount.discount {
    color: var(--commodity-red-color);
}

.discount::before {
    content: "現打";
}

.discount::after {
    content: " 折";
}

.commodity-discount-enddate {
    font-size: 12px;
    color: var(--commodity-red-color);
}

.commodity-discount-enddate::before {
    content: "優惠期限  ";
}

.commodity-total {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--commodity-red-color);
}

.commodity-total::before {
    content: "$ ";
}

.commodity-button-name {}

@media all and (min-width: 876px) {
    .commodity-container {
        width: 25%;
    }

    .commodity-container:nth-child(5n) {
        border-right: none;
    }
}

@media all and (min-width: 769px) and (max-width: 875px) {
    .commodity-container {
        width: 25%;
    }

    .commodity-container:nth-child(4n) {
        border-right: none;
    }
}

@media all and (min-width: 501px) and (max-width: 768px) {
    .commodity-container {
        width: 33.3%;
    }

    .commodity-container:nth-child(3n) {
        border-right: none;
    }
}

@media all and (max-width: 500px) {
    .commodity-container {
        width: 50%;
        padding: 5px;
    }

    .commodity-container:nth-child(2n) {
        border-right: none;
    }
}