.explainbody {
    width: 100%;
    max-width: var(--max-w1200);
    padding: 20px 0;
    margin: auto;
    background-image: linear-gradient(90deg, transparent, #f0ead2, transparent);
}

.explain-img {
    max-width: 30%;
}

    .explain-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.explain-text {
    padding: 0 30px;
}

    .explain-text h2 {
        margin-bottom: 20px;
    }

        .explain-text h2 small {
            padding: 10px 0;
            color: #6c584c;
            font-weight: 400;
            display: block;
        }

.explainbuttons {
    margin-top: 20px;
}

    .explainbuttons button {
        width: 60%;
        height: 50px;
        color: #6c584c;
        font-size: 22px;
        background-color: #f0ead2;
        box-shadow: 0 0 1px 2px #6c584c, 0 8px 1px 2px #6c584c;
        border-radius: 8px;
        box-sizing: content-box;
    }

        .explainbuttons button:hover {
            box-shadow: 0 0 1px 2px #6c584c, 0 8px 1px 2px #6c584c, 0 0 90px 1px rgba(0, 0, 0, .2) inset;
        }

@media only screen and (max-width: 768px) {
    .explainbody {
        padding: 10px;
    }

    .explain-img {
        max-width: 55%;
    }

    .explain-text h2 {
        font-size: 1em;
    }

    .explainbuttons button {
        font-size: 14px;
    }
}

@media only screen and (max-width: 520px) {
    .explainbody {
        background-image: linear-gradient(180deg, transparent, #f0ead2, transparent);
    }

    .explain-img {
        max-width: 100%;
    }

    .explain-text {
        padding: 20px 0;
    }

    .explainbuttons button {
        width: 80%;
        font-size: 20px;
    }
}
